<h2 class="center">How it Works:</h2>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail center">
		<img src="" alt="">
		<div class="caption">
			<p>1.</p>
			<h4>Browse guitars near you</h4>
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail center">
		<img src="" alt="">
		<div class="caption">
			<p>2.</p>
			<h4>Borrow guitars you're interested in</h4>
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail center">
		<img src="" alt="">
		<div class="caption">
			<p>3.</p>
			<h4>Play!</h4>
		</div>
	</div>
</div>
