// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #000;
//	background-image: image-url('15.jpg');
	color: #30383a;  /* Pantone PMS 433 (ref: http://simple.be/web/color/codes) */
}

.navbar {
	height: 72px;
	padding: 5px 255px;
	margin-bottom: 0;
	border-radius: 0;
	vertical-align: baseline;
}

.navbar-default {
	background-color:rgba (255,255,255,0.7);
	border: none;
}

.navbar-default .navbar-brand {
	font-weight: 400;
	color: #0084c9; /* Pantone PMS 3005 (ref: http://simple.be/web/color/codes) */
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0084c9;
}

.center {
	text-align: center;
}

.jumbotron {
	margin-bottom: 0;
	background-color: #000;
	background-position: center center;
	height: 600px;
}
.jt-1 { background-image: url('https://dl.dropboxusercontent.com/s/f750c5u74qirvpk/guitar-image-1.jpg?dl=0'); }
.jt-2 { background-image: url('https://dl.dropboxusercontent.com/s/zhbspap3cju7lpm/guitar-image-2.jpg?dl=0'); }
.jt-3 { background-image: url('https://dl.dropboxusercontent.com/s/tqgyc0vk5faavus/guitar-image-3.jpg?dl=0'); }
.jt-4 { background-image: url('https://dl.dropboxusercontent.com/s/8ii9acr8dl7hg2i/guitar-image-4.jpg?dl=0'); }
.jt-5 { background-image: url('https://dl.dropboxusercontent.com/s/iyg5eq9jt8xetv9/guitar-image-5.jpg?dl=0'); }
.jt-6 { background-image: url('https://dl.dropboxusercontent.com/s/41g2j405uwilef0/guitar-image-6.jpg?dl=0'); }
.jt-7 { background-image: url('https://dl.dropboxusercontent.com/s/idt81bgkexdc4jd/guitar-image-7.jpg?dl=0'); }
.jt-8 { background-image: url('https://dl.dropboxusercontent.com/s/k2bw0ka7dynsa3w/guitar-image-8.jpg?dl=0'); }
.jt-9 { background-image: url('https://dl.dropboxusercontent.com/s/5er1o95oap645i1/guitar-image-9.jpg?dl=0'); }
.jt-10 { background-image: url('https://dl.dropboxusercontent.com/s/qth64ynrq99qjq2/guitar-image-10.jpg?dl=0'); }
.jt-11 { background-image: url('https://dl.dropboxusercontent.com/s/b68nhwc97zdark9/guitar-image-11.jpg?dl=0'); }
.jt-12 { background-image: url('https://dl.dropboxusercontent.com/s/0eots45u0s49kos/guitar-image-12.jpg?dl=0'); }
.jt-13 { background-image: url('https://dl.dropboxusercontent.com/s/1g54skocxk489u0/guitar-image-13.jpg?dl=0'); }
.jt-14 { background-image: url('https://dl.dropboxusercontent.com/s/127qeayc7660rqt/guitar-image-14.jpg?dl=0'); }
.jt-15 { background-image: url('https://dl.dropboxusercontent.com/s/kqgysagm5fsy9bh/guitar-image-15.jpg?dl=0'); }
.jt-16 { background-image: url('https://dl.dropboxusercontent.com/s/pswk5utv505d3wo/guitar-image-16.jpg?dl=0'); }

.left-biased-image {
	float: right;
}

.intro-area {
	height: 500px;
	width: auto;

	h1 {
		background-color:rgba(0,0,0,0.5);
		color:#fff;
		border-radius: 10px;
	}
}

.content-wrapper {
	background-color: #fff;
}

.fields {
	padding-left: 20px;
}


.card-portrait { height: 600px; }
.card-landscape { height: 300px; }



.footer {
	background-image: image-url('15.jpg');
	width: 100%;
}


.copyright {
	background-color: #2a2a2a;
	color: #777;
	width: 100%;
}


