<div class="copyright">
	<div class="container">
		<h1 class="center">Hq</h1>
		<% if Date.today.year <= 2015 %>
			<p class="center">© 2015 Heroiq, Inc.</p>
		<% else %>
			<p class="center">© 2015-<%= Date.today.year %> Heroiq, Inc.</p>
		<% end %>
	</div>
</div>