<div class="footer">
	<div class="container">
		<div class="col-md-2">
			<ul class="nav">
				<li><h4>LinkList 1</h4></li>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
				<li><a href="#">Link 4</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="nav">
				<li><h4>LinkList 2</h4></li>
				<li><a href="#">Link A</a></li>
				<li><a href="#">Link B</a></li>
				<li><a href="#">Link C</a></li>
				<li><a href="#">Link D</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="nav">
				<li><h4>LinkList 3</h4></li>
				<li><a href="#">Link 1a</a></li>
				<li><a href="#">Link 2b</a></li>
				<li><a href="#">Link 3c</a></li>
				<li><a href="#">Link 4d</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="nav">
				<li><h4>LinkList 4</h4></li>
				<li><a href="#">Link A1</a></li>
				<li><a href="#">Link B2</a></li>
				<li><a href="#">Link C3</a></li>
				<li><a href="#">Link D4</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="nav">
				<li><h4>Social/Sign up</h4></li>
				<li>
					FB TW PN QR LI
				</li>
				<li>Sign Up</li>
			</ul>
		</div>
	</div>
</div>